---
const { hour, title } = Astro.props
---

<div class="bg-black/5 rounded-xl py-1 px-8">
  <div class="flex gap-4 items-center">
    <h4 class="font-bold text-black/70 text-sm">{title}</h4>
    <h5 class="text-black/70 text-sm font-semibold">
      {hour}
    </h5>
  </div>
</div>
