<section
  class="fixed z-20 bottom-0 left-[calc(50%-250px)] rounded-t-xl h-10 min-w-[500px] bg-black text-white"
>
  <h2>Comienza en...</h2>
  <div>
    <span>01d</span>
     :
    <span>20h</span>
     :
    <span>30m</span>
     :
    <span>09s</span>
  </div>
</section>
