---
import { Code } from 'astro:components'
import Wrapper from '../wrapper.astro'
import Speaker from './speaker.astro'

const SPEAKERS = [
  {
    name: 'Edward Cayllahua Cahuina',
    description: 'Doctor en Ciencias de la computación: Visión computacional',
    avatar: '/assets/speakers/edward.png',
    url: 'https://www.linkedin.com/in/edwardcayllahua/',
  },
  {
    name: 'José Eduardo Ochoa Luna',
    description: 'Maestría en Data Science: Inteligencia Artificial',
    avatar: '/assets/speakers/jose.png',
    url: 'https://www.linkedin.com/in/jos%C3%A9-eduardo-ochoa-luna-6451b78/',
  },
  {
    name: 'Juan Carlos Gutiérrez Cáceres',
    description:
      'Maestría en Ciencias de la Computación y Matemática Computacional: Deep Learning',
    avatar: '/assets/speakers/juan.png',
    url: 'https://www.linkedin.com/in/juan-carlos-gutierrez-caceres-b1a58b261/',
  },
  {
    name: 'Alex Cuadros Vargas',
    description:
      'Doctor en Ciencias Matemáticas y de Computación: Visión computacional',
    avatar: '/assets/speakers/alex.png',
    url: 'https://www.linkedin.com/in/alex-cuadros-vargas/',
  },
  {
    name: 'Manuel Loaiza Fernandez',
    description:
      'Doctor en Ciencias en Ciencias de la Computación: Computación gráfica',
    avatar: '/assets/speakers/manuel.png',
    url: 'https://www.linkedin.com/in/manueleduardoloaizafernandez/',
  },
  {
    name: 'Yessenia Yari Ramos',
    description:
      'Maestría en Ciencia de la Computación: Procesamiento de imágenes y visión computacional',
    avatar: '/assets/speakers/yessenia.png',
    url: 'https://www.linkedin.com/in/yessenia-yari-b4778139/',
  },
  {
    name: 'Omar U. Flores',
    description:
      'Doctorado en Ciencias de la Computación: Inteligencia artificial',
    avatar: '/assets/speakers/omar.png',
    url: 'https://www.linkedin.com/in/omar-u-florez/',
  },
  {
    name: 'Arturo Deza',
    description:
      'Investigador y académico especializado en ciencia de la computación y neurociencia.',
    avatar: '/assets/speakers/arturo.png',
    url: 'https://www.linkedin.com/in/arturo-deza-9b12324a/',
  },
]
---

<section id="speakers" class="py-8">
  <Wrapper>
    <h2 class="text-4xl font-bold text-center">Speakers</h2>
    <h5 class="text-center text-black/80 my-6">
      Divulgadores y profesionales de la comunidad
    </h5>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-4">
      {SPEAKERS.map(speak => <Speaker {...speak} />)}
    </div>
  </Wrapper>
</section>
