---
import { Code } from 'astro:components'
import Wrapper from '../wrapper.astro'
import Speaker from './speaker.astro'

const SPEAKERS = [
  {
    name: 'Edward Cayllahua Cahuina',
    description: ' Doctorado en Ciencia de la Computación',
    avatar: 'https://www.miduconf.com/img/speakers/carmen.jpg',
  },
  {
    name: 'José Eduardo Ochoa Luna',
    description: 'José Eduardo Ochoa Luna',
    avatar: 'https://www.miduconf.com/img/speakers/carmen.jpg',
  },
  {
    name: 'Juan Carlos Gutiérrez Cáceres',
    description:
      'Magister en Ciencias de la Computación y Matemática Computaciona',
    avatar: 'https://www.miduconf.com/img/speakers/carmen.jpg',
  },
  {
    name: 'Alex Cuadros Vargas',
    description: 'Doctor y Magister, en Ciencias Matemáticas y de Computación',
    avatar: 'https://www.miduconf.com/img/speakers/carmen.jpg',
  },
  {
    name: 'Manuel Loaiza Fernandez',
    description: 'Doctor en Ciencias en Ciencias de la Computación',
    avatar: 'https://www.miduconf.com/img/speakers/carmen.jpg',
  },
  {
    name: 'Yessenia Yari Ramos',
    description: 'Maestría en Ciencia de la Computación',
    avatar: 'https://www.miduconf.com/img/speakers/carmen.jpg',
  },
  {
    name: 'Omar U. Flores',
    description: 'Doctorado en Ciencias de la Computación',
    avatar: 'https://www.miduconf.com/img/speakers/carmen.jpg',
  },
  {
    name: 'Arturo Deza',
    description:
      'Investigador y académico especializado en ciencia de la computación y neurociencia.',
    avatar: 'https://www.miduconf.com/img/speakers/carmen.jpg',
  },
]
---

<section id="speakers" class="py-8">
  <Wrapper>
    <h2 class="text-4xl font-bold text-center">Speakers</h2>
    <h5 class="text-center text-black/80 my-6">
      Divulgadores y profesionales de la comunidad
    </h5>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-4">
      {SPEAKERS.map(speak => <Speaker {...speak} />)}
    </div>
  </Wrapper>
</section>
