---
const { name, description, avatar } = Astro.props
---

<div class="group">
  <div class="rounded-full relative group w-[200px] mx-auto cursor-pointer">
    <span
      class="absolute top-3 text-white rounded-full left-3 h-12 w-12 border-4 border-white flex justify-center items-center bg-[hsl(var(--secondary))]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="1.5em"
        fill="currentColor"
        viewBox="0 0 448 512"
      >
        <path
          d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
        ></path></svg
      >
    </span>
    <img
      src={avatar}
      class="rounded-full w-[200px] h-[200px] object-cover object-top mx-auto"
      alt="asd"
    />
  </div>
  <h2
    class="text-center text-xl font-semibold group-hover:underline -pointcursorer"
  >
    {name}
  </h2>
  <p class="text-center text-black/80">{description}</p>
</div>
