---
import Wrapper from '../wrapper.astro'
import NavBar from './navbar.astro'
import SectionHero from './section-hero.astro'
---

<section class="relative h-screen overflow-hidden bg-black/70">
  <img
  src="https://images.unsplash.com/photo-1540575467063-178a50c2df87?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"  
  class="absolute top-0 left-0 h-screen w-full object-cover -z-10"
  />
  <Wrapper>
    <NavBar />
    <SectionHero />
  </Wrapper>
  <svg
    class="text-white absolute left-[calc(100%/2-32px)] bottom-0 animate-bounce"
    xmlns="http://www.w3.org/2000/svg"
    enable-background="new 0 0 100 100"
    height="4em"
    fill="currentColor"
    viewBox="0 0 100 100"
    ><polygon
      points="23.1,34.1 51.5,61.7 80,34.1 81.5,35 51.5,64.1 21.5,35 23.1,34.1 "
    ></polygon></svg
  >
</section>
<!-- <section class="relative h-[20vh] overflow-hidden bg-black/70">
  <img
    src="https://images.unsplash.com/photo-1540575467063-178a50c2df87?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
    alt=""
    class="absolute top-0 left-0 h-[90vh] w-full object-cover -z-10"
  />
</section> -->
