---
import Countdown from '../Countdown/countdown.component.astro'
---

<section
  class="h-[calc(98vh-108px)] box-border flex justify-between items-center relative"
>
  <div
    class="flex flex-col items-center lg:items-start gap-2 md:gap-3 lg:gap-5 lg:max-w-[60%]"
  >
    <h4
      class="text-[hsl(var(--primary))] text-center lg:text-left text-xl font-semibold"
    >
      Evento
    </h4>
    <h1
      class="text-white text-center lg:text-left font-bold text-3xl sm:text-4xl md:text-4xl lg:text-5xl 2xl:text-7xl"
    >
      VI Congreso Internacional de Sistemas y Ciencias de la Computación
    </h1>
    <div>
      <p class="text-white/80">30 de noviembre de 2023 (GMT-5)</p>
      <p class="text-white/80">2:00 PM - 19:30 PM</p>
    </div>
    <Countdown />
    <div class="flex gap-5">
      <a
        class="px-6 py-2 text-sm font-medium hover:opacity-95 transition-opacity rounded-full bg-primary"
        href="https://cisccom.vercel.app/signin"
        target="_blank"
        rel="noopener noreferrer">Obtener ticket!</a
      >
      <a
        target="_blank"
        href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=N2puZjB2M2VtaWVrZG1rYmU4dmplbjZnZ2MgZmFtaWx5MTA5MTc5OTEwNjU4MzU3MzE3NjZAZw&tmsrc=family10917991065835731766%40group.calendar.google.com"
        class="px-6 py-1 rounded-full border-2 border-white opacity-80 animate-pulse hover:opacity-100 transition-opacity duration-500 text-white flex flex-row gap-3 items-center text-sm"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 448 512"
          fill="currentColor"
        >
          <path
            d="M128 0c13.3 0 24 10.7 24 24V64H296V24c0-13.3 10.7-24 24-24s24 10.7 24 24V64h40c35.3 0 64 28.7 64 64v16 48V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V192 144 128C0 92.7 28.7 64 64 64h40V24c0-13.3 10.7-24 24-24zM400 192H48V448c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V192zM329 297L217 409c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47 95-95c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
          ></path></svg
        >
         Guardar evento
      </a>
    </div>
  </div>
  <div class="relative hidden md:block">
    <a
      href="#"
      class="p-1 animate delay_1 bg-white absolute rounded-md bottom-52 left-36"
    >
      <img class="h-14 w-14" src="/assets/hero/tools/keras.png" alt="keras" />
    </a>
    <a
      href="#"
      class="p-1 animate delay_1 bg-white absolute rounded-md bottom-32 left-2"
    >
      <img class="h-14 w-14" src="/assets/hero/tools/numpy.png" alt="keras" />
    </a>
    <a
      href="#"
      class="p-1 animate delay_2 bg-white absolute rounded-md bottom-20 right-10"
    >
      <img class="h-14 w-14" src="/assets/hero/tools/pandas.png" alt="keras" />
    </a>
    <a href="#" class="p-1 animate bg-white absolute rounded-md left-9 top-72">
      <img class="h-14 w-14" src="/assets/hero/tools/py.png" alt="keras" />
    </a>
    <a
      href="#"
      class="p-1 animate bg-white absolute rounded-md bottom-60 right-20"
    >
      <img class="h-14 w-14" src="/assets/hero/tools/pytorch.png" alt="keras" />
    </a>
    <a
      href="#"
      class="p-1 animate delay_1 bg-white absolute rounded-md right-14 top-72"
    >
      <img class="h-14 w-14" src="/assets/hero/tools/tensor.png" alt="keras" />
    </a>
    <a
      href="#"
      class="p-1 animate delay_3 bg-white absolute rounded-md bottom-32 right-32"
    >
      <img class="h-14 w-14" src="/assets/hero/tools/ts.png" alt="keras" />
    </a>
    <img src="/assets/hero/people_1.png" class="md:h-full" alt="" />
    <!-- <img src="/assets/hero/people_2.png" alt="" /> -->
  </div>
</section>
<style>
  .animate {
    animation: 3s picture-animation infinite alternate ease-in-out;
  }
  .delay_1 {
    animation-delay: -1s;
  }
  .delay_2 {
    animation-delay: -2s;
  }
  .delay_3 {
    animation-delay: -3s;
  }
  @keyframes picture-animation {
    to {
      transform: translateY(1rem);
    }
  }
</style>
