---
import Countdown from '../Countdown/countdown.component.astro'
---

<section
  class="h-[calc(90vh-108px)] box-border flex justify-between items-center relative"
>
  <div
    class="flex flex-col items-center lg:items-start gap-2 md:gap-3 lg:gap-5 lg:max-w-[60%]"
  >
    <h4
      class="text-[hsl(var(--primary))] text-center lg:text-left text-xl font-semibold"
    >
      Evento
    </h4>
    <h1
      class="text-white text-center lg:text-left font-bold text-3xl sm:text-4xl md:text-4xl lg:text-5xl 2xl:text-6xl"
    >
      VI Congreso Internacional de Sistemas y Ciencias de la Computación
    </h1>
    <div>
      <p class="text-white/80">30 de noviembre de 2023 (GMT-5)</p>
      <p class="text-white/80">14:00 PM - 19:30 PM</p>
    </div>
    <Countdown />
    <div class="flex mt-8 sm:m-0 sm:flex-row flex-col gap-5">
      <a
        class="px-6 text-center sm:text-start py-3 text-base font-medium hover:opacity-95 transition-opacity rounded-full bg-primary"
        href="https://cisccom.vercel.app/signin"
        target="_blank"
        rel="noopener noreferrer">Obtener ticket!</a
      >
      <a
        target="_blank"
        href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=N2puZjB2M2VtaWVrZG1rYmU4dmplbjZnZ2MgZmFtaWx5MTA5MTc5OTEwNjU4MzU3MzE3NjZAZw&tmsrc=family10917991065835731766%40group.calendar.google.com"
        class="px-6 py-3 rounded-full border-2 border-white opacity-80 animate-pulse hover:opacity-100 transition-opacity duration-500 text-white flex flex-row gap-3 items-center text-base"
      >
        <img src="/assets/calendar.png" alt="google calendar" class="h-6 w-6" />
         Guardar evento
      </a>
    </div>
  </div>
  <div class="relative hidden md:block mt-11">
    <a
      href="#"
      class="p-1 animate delay_1 bg-white absolute rounded-md bottom-52 left-36"
    >
      <img
        class="sm:h-5 sm:w-5 md:h-9 md:w-9 lg:h-11 lg:w-11"
        src="/assets/hero/tools/keras.png"
        alt="keras"
      />
    </a>
    <a
      href="#"
      class="p-1 animate delay_1 bg-white absolute rounded-md bottom-16 left-20"
    >
      <img
        class="sm:h-5 sm:w-5 md:h-9 md:w-9 lg:h-11 lg:w-11"
        src="/assets/hero/tools/numpy.png"
        alt="numpy"
      />

      <a
        href="#"
        class="p-1 animate delay_2 bg-white absolute rounded-md bottom-20 right-10"
      >
        <img
          class="sm:h-5 sm:w-5 md:h-9 md:w-9 lg:h-11 lg:w-11"
          src="/assets/hero/tools/pandas.png"
          alt="keras"
        />
      </a>

      <a
        href="#"
        class="p-1 animate delay_1 bg-white absolute rounded-md right-14 top-72"
      >
        <img
          class="sm:h-5 sm:w-5 md:h-9 md:w-9 lg:h-11 lg:w-11"
          src="/assets/hero/tools/tensor.png"
          alt="keras"
        />
      </a>
      <a
        href="#"
        class="p-1 animate delay_3 bg-white absolute rounded-md bottom-32 right-32"
      >
        <img
          class="sm:h-5 sm:w-5 md:h-9 md:w-9 lg:h-11 lg:w-11"
          src="/assets/hero/tools/ts.png"
          alt="keras"
        />
        <a
          href="#"
          class="p-1 animate delay_1 bg-white absolute rounded-md bottom-32 left-2"
        >
          <img
            class="sm:h-5 sm:w-5 md:h-9 md:w-9 lg:h-11 lg:w-11"
            src="/assets/hero/tools/py.png"
          />
        </a>
        <img
          src="/assets/hero/people_1.png"
          alt=""
          class="2xl:h-[600px] lg:h-[400px] object-contain"
        />
        <!-- <img src="/assets/hero/people_2.png" alt="" /> -->
      </a>
    </a>
    <style>
      .animate {
        animation: 3s picture-animation infinite alternate ease-in-out;
      }
      .delay_1 {
        animation-delay: -1s;
      }
      .delay_2 {
        animation-delay: -2s;
      }
      .delay_3 {
        animation-delay: -3s;
      }
      @keyframes picture-animation {
        to {
          transform: translateY(1rem);
        }
      }
    </style>
  </div>
</section>
