---
import Button from '../button.astro'
---

<section class="h-[calc(90vh-108px)] flex justify-start items-center">
  <div
    class="flex flex-col items-center lg:items-start gap-2 md:gap-6 lg:max-w-[60%]"
  >
    <h4
      class="text-[hsl(var(--primary))] text-center lg:text-left text-xl font-semibold"
    >
      Evento
    </h4>
    <h1
      class="text-white text-center lg:text-left font-bold text-3xl sm:text-4xl md:text-4xl lg:text-5xl 2xl:text-7xl"
    >
      VI Congreso Internacional de Sistemas y Ciencia de la Computación
    </h1>
    <div>
      <p class="text-white/80">17 de septiembre de 2023 (GMT-5)</p>
      <p class="text-white/80">9:00 AM - 17:30 PM</p>
    </div>
    <div class="flex gap-5">
      <Button>Registrame ahora</Button>
      <Button variant="outline">Guardar evento</Button>
    </div>
  </div>
</section>
