<section class="w-full py-8">
  <h2 class="text-4xl font-bold text-center">Ubicacion de Evento</h2>
  <p class="text-black/80 text-center my-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, natus!
  </p>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3803.018430542786!2d-71.34354508806761!3d-17.601859669986258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91445c85cd541421%3A0x430096ea6da2b877!2sUniversidad%20Nacional%20de%20Moquegua!5e0!3m2!1ses-419!2spe!4v1695095207157!5m2!1ses-419!2spe"
    height="450"
    class="w-full"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>
</section>
