@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

:root {
    --primary: 175 45% 58%;
    --secondary: 223 35% 31%;
}

.text-primary {
    color: hsl(var(--primary));
}

.bg-primary {
    background-color: hsl(var(--primary));
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-in forwards;
}


@layer {}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: hsl(var(--primary));
}

::-moz-selection {
    /* Code for Firefox */
    color: black;
    background: hsl(var(--primary) / 50%);
}

::selection {
    color: black;
    background: hsl(var(--primary) / 50%);

}