---
import Button from '../button.astro'
import Wrapper from '../wrapper.astro'
---

<section
  class="bg-[hsl(var(--secondary))] min-h-[400px] my-8 flex justify-center items-center"
>
  <Wrapper>
    <div
      class="grid grid-cols-1 grid-rows-2 lg:grid-cols-2 lg:grid-rows-1 gap-8 py-8 justify-items-center items-center"
    >
      <div>
        <img
          class="rounded-3xl w-[350px]"
          src="/assets/wap.png"
          alt="orientador"
        />
      </div>
      <div class="flex flex-col items-start gap-2">
        <h4 class="text-lg font-semibold text-[hsl(var(--primary))]">
          Últimas novedades en
        </h4>
        <h2 class="text-3xl font-bold text-white">Nuestro grupo de WhatsApp</h2>
        <p class="text-white/70">
          Mantente actualizado acerca de todas las actualizaciones del evento y pregunta con nuestro personal autorizado.
        </p>
        <a href="https://chat.whatsapp.com/GbkvcTaRt3gFUaefQEY3f4" target="_blank">
        <Button>Únete</Button></a>
      </div>
    </div>
  </Wrapper>
</section>
