---
const COMITE = [
  {
    name: 'Alexander Morales Gonzales',
    job:'Organización',
    url: '',
    color: 'text-green-600'
  },
  {
    name: 'Andre La Rosa',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
  {
    name: 'Andree Sosa Ardiles ⋆',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
  {
    name: 'Anel Belú Visa Condori',
    job:'Decoración',
    url: '',
    color: 'text-green-600'
  },
  {
    name: 'Angela Vanessa Paredes Chipana',
    job:'Comisión de decoración',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Angheli Milagros Cruz Flores',
    job:'Registro de asistencias',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Brayton Chana Gomez',
    job:'Comisión de asientos ',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Carlos Antonio Flores Mamani ',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Christian Rider Ajrota Anchapuri',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Cristhian Laqui Yucra',
    job:'Soporte TI',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Daniel Alonso Paitán Vélez ',
    job:'Comisión de asientos',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Denis German Quispe Arana ',
    job:'Comisión de asientos',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Diego Galindo Chambi',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Doris Apaza Anahua ',
    job:'Registro de Asistencias',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Rony Frank Churata Huacani ',
    job:'Asistencia ',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Sofia Yamilet Quispe Salas ',
    job:'Publicidad',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Edward Rocca ⋆',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
]
const COMITE2 = [
  {
    name: 'Elmer Andres Collanqui Casapia',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
  {
    name: 'Enrique Guillermo Velazquez',
    job:'Soporte',
    url: '',
    color: 'text-green-600'
  },
  {
    name: 'Ernesto Montero Rivas',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
  {
    name: 'Estefany Paola Mamani Gutierrez',
    job:'Staff ',
    url: '',
    color: 'text-green-600'
  },
  {
    name: 'Ever Quispe Ramos',
    job:'Iluminación',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Gonzalo Juárez Salazar ',
    job:'Retransmisión',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Gonzalo Koctong Lama ⋆',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Hedilton Nohe Colana Arocutipa ',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Ivan Ccaso Carbajal ⋆',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Marco Nina Cruz',
    job:'Asistencia',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Michael Manrique',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Oscar Ali Huaco Limache',
    job:'Comision de asistencia',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Oscar Fernando Paye Cahui',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Oscar Vargas Caldas ⋆',
    job:'Registro de Asistencias',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Paolo Enmanuel Gordillo Osco ',
    job:'Comisión de Asistencia ',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Patricia Alexandra Guzmán Alvarez',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
  {
    name:'Elsa Becerra Tupes ⋆',
    job:'Staff',
    url: '',
    color: 'text-green-600'
  },
]
---
<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="border border-gray-300 shadow-sm rounded-lg overflow-hidden max-w-sm">
      <table class="w-full text-sm leading-5">
        <thead class="bg-gray-100">
          <tr>
            <th class="py-3 px-4 text-left font-medium text-gray-600">Colaborador</th>
            <th class="py-3 px-4 text-left font-medium text-gray-600">Support</th>
          </tr>
        </thead>
        <tbody>
          {COMITE.map((item, index) => (
            <tr class={index % 2 === 1 ? 'bg-gray-50 table-row' : 'table-row'}>
              <td class="py-3 px-4 text-left font-medium text-gray-600">{item.name}</td>
              <td class="py-3 px-4 text-left">{item.job}</td>
            </tr>
          ))}
        </tbody>
      </table>
    </div>
  
    <div class="border border-gray-300 shadow-sm rounded-lg overflow-hidden max-w-sm">
      <table class="w-full text-sm leading-5">
        <thead class="bg-gray-100">
          <tr>
            <th class="py-3 px-4 text-left font-medium text-gray-600">Colaborador</th>
            <th class="py-3 px-4 text-left font-medium text-gray-600">Support</th>
          </tr>
        </thead>
        <tbody>
          {COMITE2.map((item, index) => (
            <tr class={index % 2 === 1 ? 'bg-gray-50 table-row' : 'table-row'}>
              <td class="py-3 px-4 text-left font-medium text-gray-600">{item.name}</td>
              <td class="py-3 px-4 text-left">{item.job}</td>
            </tr>
          ))}
        </tbody>
      </table>
    </div>
  </div>

  <style>
    .table-row:hover {
      background-color: #E5E7EB;
      transition: background-color 0.3s ease;
    }
  </style>