---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Button from '../components/button.astro'
import Wrapper from '../components/wrapper.astro'
import Footer from '../components/footer.astro';
---

<DefaultLayout title="Welcome to Astro.">
  <Wrapper>
    <Button variant="ghost">Hello</Button>
  </Wrapper>
  
</DefaultLayout>
