---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero/hero-section.astro'
import Agenda from '../components/Agenda/agenda-section.astro'
---

<DefaultLayout title="VI CISSCOM">
  <header>
    <Hero />
  </header>
  <main>
    <Agenda />
  </main>
</DefaultLayout>
