---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero/hero-section.astro'
import Agenda from '../components/Agenda/agenda-section.astro'
import Speakers from '../components/Speakers/speak-section.astro'
import Maps from '../components/Maps/map-section.astro'
import Partners from '../components/Partners/partner-section.astro'
import CTA from '../components/CTA/cta-section.astro'
import Footer from '../components/footer.astro'
---

<DefaultLayout title="VI CISSCOM">
  <header>
    <Hero />
  </header>
  <main>
    <Agenda />
    <CTA />
    <Speakers />
    <Partners />
    <Maps />
  </main>
  <Footer />
</DefaultLayout>
<!-- <script>
  const callback = function (entries) {
    entries.forEach(entry => {
      console.log(entry)

      if (entry.isIntersecting) {
        entry.target.classList.add('animate-fadeIn')
      } else {
        entry.target.classList.remove('animate-fadeIn')
      }
    })
  }

  const observer = new IntersectionObserver(callback)

  const targets = document.querySelectorAll('.js-show-on-scroll')
  targets.forEach(function (target) {
    target.classList.add('opacity-0')
    observer.observe(target)
  })
</script> -->
