---
import Button from '../button.astro'
import Wrapper from '../wrapper.astro'
---
<section
  class="bg-[hsl(var(--secondary))] min-h-[400px] my-8 flex justify-center items-center"
  id="papers"
>
  <Wrapper>
    <div
      class="grid grid-cols-1 grid-rows-2 lg:grid-cols-2 lg:grid-rows-1 gap-8 py-8 justify-items-end items-center"
    >
      <div class="flex flex-col items-start gap-2">
        <h4 class="text-lg font-semibold text-[hsl(var(--primary))]">
          Convocatoria
        </h4>
        <h2 class="text-3xl font-bold text-white">Exposición de artículos científicos</h2>
        <p class="text-white/70">
          Invitamos a investigadores, profesionales y estudiantes a presentar artículos científicos en el VI CISCCOM que se llevará a cabo del al 01 de diciembre de 2023 en EPISI UNAM, en la ciudad de Ilo, Perú.
          Los artículos aceptados serán presentados en sesiones orales.<br><br/>
          <strong class="text-lg font-semibold text-[hsl(var(--primary))]">Important dates </strong>  <br>
          <strong>Full Paper Submission Deadline:</strong> 15 de Noviembre <br>
          <strong>Notification of Acceptance:</strong> 20 Noviembre <br>
          <strong>Conference Day:</strong> 01 de Diciembre
      </p>



      <div class="flex flex-col w-full sm:w-auto sm:flex-row mt-2">
        <a href="https://cisccom.vercel.app/signin" target="_blank"
            class="flex flex-row items-center justify-center px-4 py-2 mb-3 text-sm font-medium bg-primary leading-6 capitalize duration-100 transform rounded-full shadow cursor-pointer focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 focus:outline-none sm:mb-0 sm:w-auto sm:mr-4 md:pl-8 md:pr-6 xl:pl-12 xl:pr-10   hover:shadow-lg hover:-translate-y-1">
            Enviar paper
            <span class="ml-4">
                <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 24 24" class="w-5 h-5 fill-current"><path fill="currentColor" d="M17.92,11.62a1,1,0,0,0-.21-.33l-5-5a1,1,0,0,0-1.42,1.42L14.59,11H7a1,1,0,0,0,0,2h7.59l-3.3,3.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l5-5a1,1,0,0,0,.21-.33A1,1,0,0,0,17.92,11.62Z"></path>
                </svg>
            </span>
        </a>
    
        <a href="https://drive.google.com/file/d/1_RXT7MbTYEGNuDaq-vCM7tZhl78VtACV/view?usp=sharing" target="_blank"
            class="flex items-center justify-center w-full px-3 py-3 text-sm font-medium leading-6 capitalize duration-100 transform border-2 rounded-sm cursor-pointer border-green-300 focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 focus:outline-none sm:w-auto sm:px-6 border-text  hover:shadow-lg hover:-translate-y-1 text-white/70">
            Ver manual
        </a>
    </div>


      </div>
      <div>
        <img
          class="rounded-3xl w-[450px]"
          src="assets/cispaper.png"
          alt="orientador"
        />
      </div>
    </div>
  </Wrapper>
</section>
