---
import Wrapper from './wrapper.astro'
---

<footer class="bg-black py-24">
  <Wrapper>
    <section
      class="gap-12 justify-items-center footer-area md:footer-area-md md:grid-cols-3 md:justify-items-stretch"
    >
      <h2 class="text-4xl text-white text-center font-bold">VI CISCCOM</h2>
      <div class="flex justify-center items-center p-8">
        <p class="text-white/80 text-center w-1/2">
          El propósito principal es fomentar la actualización de conocimientos y
          examinar los avances en estas áreas de vanguardia.
        </p>
      </div>

      <div class="flex justify-center items-center gap-4 py-4">
        <!-- Nueva forma de hacer -->

        <a
          href="#"
          class="bg-white/30 hover:bg-[#3b5998] transition-colors h-10 w-10 rounded-full flex justify-center items-center text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            fill="currentColor"
            viewBox="0 0 320 512"
          >
            <path
              d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
            ></path></svg
          >
        </a>
        <a
          href="#"
          class="bg-white/30 hover:bg-[#ff0084] transition-colors h-10 w-10 rounded-full flex justify-center items-center text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            height="1em"
            viewBox="0 0 448 512"
          >
            <path
              d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
            ></path></svg
          >
        </a>
        <a
          href="#"
          class="bg-white/30 hover:bg-[#007bb5] transition-colors h-10 w-10 rounded-full flex justify-center items-center text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            height="1em"
            viewBox="0 0 448 512"
          >
            <path
              d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
            ></path></svg
          >
        </a>
        <a
          href="#"
          class="bg-white/30 hover:bg-[#bb0000] transition-colors h-10 w-10 rounded-full flex justify-center items-center text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            height="1em"
            viewBox="0 0 576 512"
          >
            <path
              d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
            ></path></svg
          >
        </a>
      </div>
      <div class="flex justify-center items-center h-16">
        <hr class="w-full border-t-1 border-white/40" />
      </div>
      <section class="flex justify-center items-center gap-6">
        <p class="py-4 text-white text-sm">
          Copyright 2023. <span
            class="text-[hsl(var(--primary))] font-medium text-sm"
          >
            All Rights Reserved</span
          >
        </p>
        <div class="flex justify-center items-center py-4">
          <a
            href="#"
            class="flex justify-center w-11 h-11 rounded-full bg-slate-500 mr-4 items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 512 512"
              class="text-white w-9 p-2"
            >
              <path
                d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"
              ></path></svg
            >
          </a>
          <div>
            <p class="text-[hsl(var(--primary))] font-medium text-sm">
              Nuestro correo:
            </p>
            <p class="text-white text-sm">unam@gmail.com</p>
          </div>
        </div>
        <div class="flex justify-center items-center py-4">
          <a
            href="#"
            class="r flex justify-center w-11 h-11 rounded-full bg-slate-500 mr-4 items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 512 512"
              class="text-white w-8 p-2"
            >
              <path
                d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"
              ></path></svg
            >
          </a>
          <div>
            <p class="text-[hsl(var(--primary))] font-medium text-sm">
              Telefono
            </p>
            <p class="text-white text-sm">+51 902 902 983</p>
          </div>
        </div>
      </section>
    </section>
  </Wrapper>
</footer>
