---
import type { HTMLAttributes } from 'astro/types'
interface wrapperProps extends HTMLAttributes<'div'> {}

const propsWrapper: wrapperProps = Astro.props
---

<div class="w-full px-2 md:w-[80%] lg:w-[65%] m-auto h-full" {...propsWrapper}>
  <slot />
</div>
